# Personal working directories
_*/

# Virtual environments
venv
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Cache
.*_cache/

# Error/Output Files
*.err
*.out

# Figures
*.pdf
*.png

# Output directories
runs/data/
runs/logs/
runs/wandb/
runs/scripts/*
runs/analyses

# MkDocs build output
site/

# Python cache directories
__pycache__/
**/__pycache__/
*.egg-info/
**/*.egg-info/
*.ipynb_checkpoints/