*.ipynb_checkpoints/
.venv/
__pycache__/
**/__pycache__/
.env

# Not committing any error or output files or figures
*.err
*.out
*.pdf
*.png

runs/data/
runs/logs/
runs/wandb/
runs/scripts/*
runs/analyses

# Not committing any personal working directories
_*/

# MkDocs build output
site/

# Not committing any package build files
*.egg-info/
**/*.egg-info/