*.ipynb_checkpoints/
.venv/
__pycache__/
**/__pycache__/
.env
wandb/

*.err
*.out

runs/data/
runs/logs/
runs/wandb/
runs/scripts/*
runs/analyses

# Not committing any personal working directories
_*/

# MkDocs build output
site/